<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PW3</title>
</head>
<body>
    <div class="content">
        <h1>Programação Web III</h1>
        <h3>Aluno: {{nome}}</h3>
        <h3>RM: {{rm}}</h3>
        <h3>Professor: {{prof}}</h3>

        <hr>
        
        <h1>Bases Tecnológicas</h1>
        <h2>{{bases1[0]}}</h2>
        <ol>
            <li>{{bases1[1]}}</li>
            <li>{{bases1[2]}}</li>
            <li>{{bases1[3]}}</li>
            <li>{{bases1[4]}}</li>
            <li>{{bases1[5]}}</li>
            <li>{{bases1[6]}}</li>
            <li>{{bases1[7]}}</li>
        </ol>
        <hr>

        <h2>{{bases2[0]}}</h2>
        <ol>
            <li>{{bases2[1]}}</li>
        </ol>
        <hr>
        
        <h2>{{bases3}}</h2>
        <hr>

        <h2>{{bases4}}</h2>
        <hr>

        <h2>{{bases5}}</h2>

    </div>
</body>
</html>

